@page
@model IndexModel
@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo.</h1>
    <h3>Cadastre os seus filmes favoritos</h3>
    <p>Horário atual: @DateTime.Now</p>
</div>
