@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre o projeto";
}
<h1>@ViewData["Title"]</h1>

<p>Este projeto foi desenvolvido com o objetivo de compreender o desenvolvimento de um projeto web utilizando C#.</p>
